<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <main class="container mt-4">
        <%- body %> <!-- Contenido de las vistas -->
    </main>

    <%- include('../partials/footer') %>
</body>
</html>